# Dependencias de Node
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Base de Datos local persistente
data/
*.db
*.db-journal

# Temporales y logs de sistema
.gemini/
.agents/
.idea/
.vscode/
.DS_Store
